﻿
@{
    ViewBag.Title = "AnketIpuclari";
}

<h2 style="font-size:15px">
    <a><img src="~/images/Ai%20(1).PNG" width="1000" height="400" /></a>
    <a><img src="~/images/Ai%20(2).PNG" width="800" height="500" /></a>
    <a><img src="~/images/Ai%20(3).PNG" width="800" height="500" /></a>
    <a><img src="~/images/Ai%20(4).PNG" width="800" height="500" /></a>
    <a><img src="~/images/Ai%20(5).PNG" width="800" height="500" /></a>
</h2>

