﻿
@{
    ViewBag.Title = "AnketKistaslari";
}
<h1>
    <font face="tahoma" size="8" color="maroon">
        <b>ANKET KISTASLARI</b>
    </font>
</h1>
<p>
   <br> 1. Anketeam'e giriş yapın ve uzman sertifikalı şablonlar ve sorularla anketlerinizi oluşturun.</br>
    <br>2. Yanıtlarınızı toplamak için anketinizi paylaşın.</br>
    <br> 3. Toplanan sonuçları gözden geçirin.</br>
    <br> 4. Daha profesyonel anketler oluşturmak için hazır anketleri kullanın.</br>
</p>

<p>
  <br></br>
    <img src="~/images/anket.png" />
</p>

        
        
