﻿
@{
    ViewBag.Title = "AnketHizmetleri";
}


<h1>
    <font face="andalus" size="7" color="maroon">
        <b>GENEL GÖRÜNÜM</b>
    </font>
</h1>
<p>
    
    <img src="~/images/hesap.PNG" />
</p>
<BR></BR>
<h1>
    <font face="andalus" size="7" color="maroon">
        <b>MÜŞTERİLER</b>
    </font>
</h1>
<p>

    <img src="~/images/musteri.PNG" />
</p>

<h1>
    <font face="andalus" size="7" color="maroon">
        <b>ÖZELLİKLER</b>
    </font>
</h1>
<p>

    <img src="~/images/ozellik.PNG" />
</p>

