﻿@{
    ViewBag.Title = "AnaSayfa";
}


<div class="jumbotron">

    
    <h1 style="font-size:40px"> <font color=><marquee> Anket Oluşturun, Yanıt Alın... </marquee> </fond></h1>
    <p class="lead">Bu bir online anket sitesidir.İstediğiniz konuda istediğiniz anketi oluşturun.</p>
    <p class="btn btn-default"> @Html.ActionLink("Pro kayıt >>", "PlanlarVeFiyatlandirma", "Home") </p>
    <p class="btn btn-default"> @Html.ActionLink("Ücretsiz Kayıt >>", "Register", "Account") </p>
    
    @*<p> @Html.ActionLink("Ücretsiz Kayıt", "Register", "Account" ) </p>*@
</div>



<div class="row">


    <p>
        Daha fazla etki ve birden çok kullanıcı sahibi olmak ister misiniz?
        Anketeam Enterprise ile en etkili özelliklerimizi edinin ve daha akıllıca karar verin.
    </p>
    <p><a class="btn btn-default" href="AnketHizmetleri">Daha fazla bilgi &raquo;</a></p>

</div>