﻿
@{
    ViewBag.Title = "KullanimSekli";
    
}

<h2>
    <font face="tahoma" size="8" color="maroon">
     <b>Kullanım Şekli</b>
    </font>
</h2>
<p>En iyi kararlar burada başlar
Büyük markalardan yeni başlayanlara, eğitimciler, İK yöneticileri ve daha fazlası; 20 milyondan fazla kişinin küçük veya büyük ölçekli kampanyalar, etkinlikler ve projeler için ihtiyaç duyduğu yanıtları ve sonuçları almak için neden çevrimiçi SurveyMonkey anketlerini seçtiğini öğrenin.</p>

<p>
    <font face="tahoma" size="5" color="green">
        <b>Sizin çalışmanıza gerek kalmasın diye çok çalışan özellikler</b>
    </font>
    <br />
    <img src="~/images/1a%20.png" />
</p>