﻿
@{
    ViewBag.Title = "Ornekler";
}

<h2>
    <font face="tahoma" size="5" color="maroon">
        <b>Uzmanlar Tarafından Yazılmış Anket Şablonları</b>
    </font>
</h2>
<p>
    <font face="tahoma" size="3" >
        <b> Özelleştirebileceğiniz bir anket şablonu ve örnek sorular ile zaman kazanın.</b>
    </font>
    
</p>
<p>Anket yazmaya zamanınız yok mu? Yoksa nereden başlayacağınızı bilmiyor musunuz? Merak etmeyin! Hemen hemen her konu ile ilgili yaklaşık 200 anket şablonu ile arkanızdayız. Anket şablonlarımız, uzmanlar tarafından yazılmıştır ve oldukları şekilde gönderilmeye hazırdır. Ayrıca tamamen özelleştirilebilirler, yani örnek anket sorularımızı düzenleyebilir veya ihtiyacınıza göre yenilerini ekleyebilirsiniz. Örnek anket şablonlarımızdan birini kullanırsanız güvenebileceğiniz işlenebilir veriler elde edersiniz.</p>
<p>Birkaç </p>


