﻿
@{
    ViewBag.Title = "PlanlarVeFiyatlandirma";
}

<h1>
    <a><img src="~/images/basic%20(1).PNG" width="400" height="300" /></a>
    <a><img src="~/images/gold%20(1).PNG" width="400" height="300" /></a>

        <div class=".orala">
            <button type="button" class="btn btn-lg">@Html.ActionLink("Kaydol >>", "Register", "Account")</button>
            <a><img src="~/images/bos.PNG" width="280" height="85" /></a>
            <button type="button" class="btn btn-lg">@Html.ActionLink("Kaydol >>", "Register", "Account")</button>
        </div>

    <a><img src="~/images/basic%20(2).PNG" width="400" height="900" /></a>
    <a><img src="~/images/gold%20(2).PNG" width="400" height="900" /></a>
    <a><img src="~/images/basic%20(3).PNG" width="400" height="850" /></a>
    <a><img src="~/images/gold%20(3).PNG" width="400" height="850" /></a>
    <a><img src="~/images/basic%20(4).PNG" width="400" height="300" /></a>
    <a><img src="~/images/gold%20(4).PNG" width="400" height="300" /></a>

</h1>

