﻿
@{
    ViewBag.Title = "UyeAnaSinif";
    Layout = "~/Views/Shared/_UyeLayout.cshtml";
}




<div class="jumbotron">




</div>



<div class="row">


    <p>
        Daha fazla etki ve birden çok kullanıcı sahibi olmak ister misiniz?
        Anketeam Enterprise ile en etkili özelliklerimizi edinin ve daha akıllıca karar verin.
    </p>
    <p><a class="btn btn-default" href="AnketHizmetleri">Daha fazla bilgi &raquo;</a></p>

</div>

